.program-container ul.collection .schedule-item .talk-info {
  color: #79b3af; }
  .program-container ul.collection .schedule-item .talk-info .talk-type {
    font-weight: 400; }
  .program-container ul.collection .schedule-item .talk-info .talk-author a, .program-container ul.collection .schedule-item .talk-info .talk-author span {
    font-weight: 500;
    color: #eb643b; }
  .program-container ul.collection .schedule-item .talk-info .talk-room {
    font-weight: 300; }
  .program-container ul.collection .schedule-item .talk-info .talk-time {
    font-weight: 600; }

.program-container ul.collection .schedule-item .secondary-content {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 4px !important; }

.program-container ul.collection .fake-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  font-size: 21px;
  background-color: rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 601px) and (max-width: 992px) {
    .program-container ul.collection .fake-item {
      min-height: 140px; } }
  @media only screen and (min-width: 993px) {
    .program-container ul.collection .fake-item {
      min-height: 123px; } }
