.speakers-container .speaker {
  display: block; }
  .speakers-container .speaker.active {
    box-shadow: 8px 8px 19px 0 rgba(0, 0, 0, 0.5), 4px 6px 20px 0 rgba(0, 0, 0, 0.5); }
  .speakers-container .speaker .card-content {
    background-color: #eb643b;
    color: #fff;
    text-align: center;
    padding: 12px; }
  .speakers-container .speaker.fake {
    box-shadow: none; }
    .speakers-container .speaker.fake .card-image {
      background-color: rgba(0, 0, 0, 0.1); }
      .speakers-container .speaker.fake .card-image .fake-img {
        height: 250px; }

.speaker-container .speaker-header {
  color: #665f58;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0; }

.speaker-container .speaker-infos {
  padding: 10px; }

.speaker-container .speaker-picture {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.speaker-container .speaker-content {
  margin-top: 10px; }
  @media only screen and (min-width: 601px) {
    .speaker-container .speaker-content {
      margin-top: 0; } }
